# Ignore build directories
bin/
obj/

# Ignore Rider and Visual Studio settings
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore environment-specific appsettings file
OmsApp/appsettings.Development.json

# Ignore other environment-specific appsettings if necessary
# OmsApp/appsettings.Staging.json
